.head {
  position: relative;
  color: #444444;
  & > div {
    display: flex;
  }
  .days {
    div {
      width: calc(100% / 7);
    }
  }
  .calHeader {
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 600;
    }
  }
}
