.head {
  position: relative;
  //display: flex;
  //justify-content: space-between;
  & > div {
    display: flex;
  }
  .days {
    //width: 100%;
    div {
      width: calc(100% / 7);
    }
  }
  .calHeader {
    justify-content: space-between;
    align-items: center;
  }
  .btnGroup {
  }
}
