.head {
  position: relative;
  display: flex;
  justify-content: space-between;
  & > div {
    display: flex;
  }
  .days div {
    width: calc(100% / 7);
  }
  .btnGroup {
    position: absolute;
    top: 0;
    right: 0;
  }
}
